In [ ]:
# Import the library to mount Google Drive
from google.colab import drive

# Mount the Google Drive at /content/drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import zipfile

zip_file = '/content/drive/MyDrive/Piramal ML Challenge/d9f36b838a2011ef.zip'
dataset_dir = '/content/dataset/'

with zipfile.ZipFile(zip_file, 'r') as zip_ref:
    zip_ref.extractall(dataset_dir)

In [ ]:
import pandas as pd
import numpy as np

train_1 = pd.read_csv('/content/dataset/dataset/train_1.csv')
train_2_1 = pd.read_csv('/content/dataset/dataset/train_2_1.csv')
train_2_2 = pd.read_csv('/content/dataset/dataset/train_2_2.csv')
test_1 = pd.read_csv('/content/dataset/dataset/test_1.csv')
test_2_1 = pd.read_csv('/content/dataset/dataset/test_2_1.csv')
test_2_2 = pd.read_csv('/content/dataset/dataset/test_2_2.csv')

<ipython-input-14-50f80f8d4045>:4: DtypeWarning: Columns (126,128,143) have mixed types. Specify dtype option on import or set low_memory=False.
  train_1 = pd.read_csv('/content/dataset/dataset/train_1.csv')
<ipython-input-14-50f80f8d4045>:5: DtypeWarning: Columns (675,676,677) have mixed types. Specify dtype option on import or set low_memory=False.
  train_2_1 = pd.read_csv('/content/dataset/dataset/train_2_1.csv')
<ipython-input-14-50f80f8d4045>:6: DtypeWarning: Columns (675,676,677) have mixed types. Specify dtype option on import or set low_memory=False.
  train_2_2 = pd.read_csv('/content/dataset/dataset/train_2_2.csv')

In [ ]:
train_1.head()

,loan_id,label,id,prod,col_1,col_2,col_3,col_4,col_5,col_6,...,col_155,col_156,col_157,col_158,col_159,col_160,col_161,col_162,col_163,col_164
0,3L3N473W3R3X3Z2d2d2d2f2i2f2d24,0,2f2g2e2c2f2f2e,prod3,0.005733,29.00,0.0,0.0,0,0.001534,...,1.0,OTHER,NaN,SALARIED,1.0,0.0,NaN,1,NaN,30.0
1,3L3N473U3N3X3Z2d2d2d2f2f44422h,0,2e2c2d2h2g2h2c,prod3,0.000996,29.95,0.0,0.0,0,0.000123,...,1.0,MARRIED,NaN,SENP,1.0,0.0,NaN,2,NaN,43.0
2,3L3N473W3R3X3Z2d2d2d2f2g2c2c2f,0,2f2j2c24252e2j,prod3,0.002393,33.00,0.0,0.0,0,0.000426,...,1.0,OTHER,NaN,SALARIED,1.0,0.0,NaN,1,NaN,35.0
3,3L3N473W3R3X3Z2d2d2d2f2d2i2443,0,2f252h2g2e2e24,prod3,0.005626,26.00,0.0,0.0,0,0.001466,...,1.0,OTHER,NaN,SALARIED,1.0,0.0,NaN,1,NaN,29.0
4,3L3N473L433X3Z2d2d2d2d2e472d40,0,2f2h242d2e2h2d,prod3,0.004214,16.99,0.0,0.0,0,0.000766,...,1.0,SINGLE,NaN,SALARIED,1.0,0.0,NaN,1,NaN,30.0

In [ ]:
train_2_1.head()

,id,add_1,add_2,add_3,add_4,add_5,add_6,add_7,add_8,add_9,...,add_668,add_669,add_670,add_671,add_672,add_673,add_674,add_675,add_676,add_677
0,2c2c2f2f2f2524,3,0,0,0,0,0,0,0,0,...,1,1,776,"""[01]""","""[]""","""[]""",NaN,NaN,NaN,NaN
1,2c2e2c2d2c2i2i,2,1,1,0,0,1,0,0,0,...,1,3,779,"""[39, 40, 38]""","""[]""","""[]""",NaN,NaN,NaN,NaN
2,2c2c2j2j2g2c2g,5,4,4,0,0,0,0,0,0,...,1,3,750,"""[26, 42, 35, 39]""","""[]""","""[]""",NaN,NaN,NaN,NaN
3,2c2e2d242e2h2e,7,5,5,0,4,6,4,4,0,...,2,4,708,"""[37, 35, 42, 39, 26]""","""[]""","""[]""",NaN,NaN,NaN,NaN
4,2c2d2f2c252f2j,5,4,4,4,0,1,1,1,1,...,1,4,786,"""[]""","""[]""","""[]""",NaN,NaN,NaN,NaN

In [ ]:
train_2_2.head()

,id,add_1,add_2,add_3,add_4,add_5,add_6,add_7,add_8,add_9,...,add_668,add_669,add_670,add_671,add_672,add_673,add_674,add_675,add_676,add_677
0,2c2c2f2f2f2524,2,0,0,0,0,0,0,0,0,...,1,2,777,"""[01]""","""[]""","""[]""",1.0,"""[]""","""[]""","""[]"""
1,2c2c2j2j2g2c2g,5,4,4,0,0,1,1,1,0,...,1,5,738,"""[02]""","""[]""","""[]""",2.0,"""[]""","""[]""","""[]"""
2,2c2e2f2c252i2c,1,0,0,0,0,1,0,0,0,...,1,0,759,"""[01]""","""[]""","""[]""",-1.0,"""[]""","""[]""","""[]"""
3,2c2c2f2h2f2h2f,5,2,2,2,0,3,1,1,1,...,1,6,776,"""[45]""","""[]""","""[]""",2.0,"""[]""","""[]""","""[]"""
4,2c2f2i2d252i2e,9,7,7,6,1,5,3,3,2,...,2,8,780,"""[39, 25, 36, 38]""","""[]""","""[]""",2.0,"""[]""","""[]""","""[]"""

In [ ]:
print(train_1.shape)
print(train_2_1.shape)
print(train_2_2.shape)
print(test_1.shape)
print(test_2_1.shape)
print(test_2_2.shape)

(100000, 168)
(90300, 678)
(47976, 678)
(100000, 167)
(81300, 678)
(48085, 678)

In [ ]:
train_1.describe()

,label,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9,...,col_151,col_152,col_153,col_154,col_155,col_159,col_160,col_162,col_163,col_164
count,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.00000,100000.000000,100000.000000,100000.000000,100000.000000,...,1.000000e+05,1.000000e+05,100000.000000,15316.000000,98913.000000,98913.000000,98913.000000,100000.000000,49723.000000,98904.000000
mean,0.041580,0.062334,19.983052,0.000010,0.000008,54.56024,0.066938,0.060373,0.005040,0.006574,...,1.004037e+05,1.171015e+06,61.350840,1.878493,0.865468,0.981539,0.106073,1.716360,239.660680,38.799887
std,0.199628,0.180701,8.386780,0.000115,0.000199,96.95916,0.209305,0.191197,0.016774,0.029675,...,3.777311e+05,2.777479e+06,87.386338,1.477812,0.341225,0.134611,0.307933,0.783476,106.224535,9.921685
min,0.000000,0.000000,4.000000,-0.000134,-0.000768,0.00000,0.000019,0.000000,0.000000,0.000004,...,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,2.000000
25%,0.000000,0.005642,12.850000,0.000000,0.000000,0.00000,0.001642,0.000756,0.001043,0.000670,...,0.000000e+00,0.000000e+00,0.000000,1.000000,1.000000,1.000000,0.000000,1.000000,218.000000,31.000000
50%,0.000000,0.025948,17.490000,0.000000,0.000000,0.00000,0.010399,0.007426,0.002330,0.002420,...,0.000000e+00,2.596000e+05,0.000000,2.000000,1.000000,1.000000,0.000000,2.000000,219.000000,38.000000
75%,0.000000,0.071900,26.000000,0.000000,0.000000,28.00000,0.047653,0.040014,0.004764,0.006390,...,2.000000e+04,1.121725e+06,99.000000,2.000000,1.000000,1.000000,0.000000,2.000000,245.000000,45.000000
max,1.000000,14.341781,36.000000,0.011220,0.047125,629.00000,19.878434,18.930786,1.249559,3.901545,...,2.550140e+07,2.005075e+08,500.000000,70.000000,1.000000,1.000000,1.000000,9.000000,962.000000,223.000000

In [ ]:
(train_1['label']==1).sum()

4158

In [ ]:
print(4158/100000)

0.04158

In [ ]:
train_2_1.describe()

,add_1,add_2,add_3,add_4,add_5,add_6,add_7,add_8,add_9,add_10,...,add_662,add_663,add_664,add_665,add_666,add_667,add_668,add_669,add_670,add_674
count,90300.000000,90300.000000,90300.000000,90300.000000,90300.000000,90300.000000,90300.000000,90300.000000,90300.000000,90300.000000,...,9.030000e+04,9.030000e+04,9.030000e+04,9.030000e+04,9.030000e+04,9.030000e+04,90300.000000,90300.000000,90300.000000,58894.000000
mean,12.798461,8.660044,9.049745,4.127619,1.441462,5.538383,3.965061,4.191429,1.899147,1.189590,...,2.414772e+06,8.295421e+05,1.288593e+04,1.520440e+04,1.453639e+06,4.141373e+05,1.073843,11.184330,742.880055,2.285666
std,14.356699,10.215839,10.525069,7.317485,2.171507,4.636226,3.926670,4.139385,2.285865,1.855696,...,1.319801e+07,3.837294e+06,6.070151e+05,1.443077e+06,6.860768e+06,2.150165e+06,0.606900,14.971718,37.814665,1.603476
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-1.720030e+06,-3.425572e+06,0.000000,0.000000,-1.000000,-1.000000
25%,4.000000,2.000000,3.000000,1.000000,0.000000,2.000000,1.000000,1.000000,0.000000,0.000000,...,6.002150e+04,9.000525e+04,0.000000e+00,0.000000e+00,0.000000e+00,1.627625e+04,1.000000,3.000000,725.000000,1.000000
50%,9.000000,6.000000,6.000000,2.000000,1.000000,4.000000,3.000000,3.000000,1.000000,0.000000,...,8.198970e+05,3.702680e+05,0.000000e+00,0.000000e+00,4.368130e+05,1.446610e+05,1.000000,8.000000,747.000000,2.000000
75%,17.000000,11.000000,12.000000,5.000000,2.000000,7.000000,6.000000,6.000000,3.000000,2.000000,...,2.200000e+06,9.212245e+05,0.000000e+00,0.000000e+00,1.405094e+06,4.639058e+05,1.000000,14.000000,768.000000,3.000000
max,918.000000,273.000000,273.000000,264.000000,30.000000,178.000000,131.000000,138.000000,116.000000,28.000000,...,1.455985e+09,6.649644e+08,1.145455e+08,4.161194e+08,6.302872e+08,4.161538e+08,18.000000,922.000000,840.000000,10.000000

In [ ]:
train_2_2.describe()

,add_1,add_2,add_3,add_4,add_5,add_6,add_7,add_8,add_9,add_10,...,add_662,add_663,add_664,add_665,add_666,add_667,add_668,add_669,add_670,add_674
count,47976.000000,47976.000000,47976.000000,47976.000000,47976.000000,47976.000000,47976.000000,47976.000000,47976.000000,47976.000000,...,4.797600e+04,4.797600e+04,4.797600e+04,4.797600e+04,4.797600e+04,4.797600e+04,47976.000000,47976.000000,47976.000000,7892.000000
mean,12.706291,9.067409,9.486118,4.402097,1.454498,5.686781,4.275013,4.542334,2.081833,1.214107,...,2.167755e+06,8.761432e+05,7.701988e+03,1.785864e+04,1.270730e+06,4.594712e+05,1.068826,11.775450,739.914749,1.739103
std,13.665665,10.653700,10.964110,7.750045,2.154214,4.603690,3.962470,4.216210,2.301626,1.851488,...,1.800314e+07,4.296510e+06,1.567497e+05,1.949704e+06,9.864195e+06,2.872133e+06,0.616648,14.720139,39.829113,2.303865
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-1.077012e+07,-6.874189e+06,0.000000,0.000000,-1.000000,-1.000000
25%,4.000000,2.000000,3.000000,1.000000,0.000000,2.000000,1.000000,1.000000,0.000000,0.000000,...,0.000000e+00,1.094250e+05,0.000000e+00,0.000000e+00,0.000000e+00,3.328950e+04,1.000000,4.000000,722.000000,-1.000000
50%,9.000000,6.000000,7.000000,2.000000,1.000000,5.000000,3.000000,3.000000,1.000000,0.000000,...,5.108905e+05,4.214865e+05,0.000000e+00,0.000000e+00,2.374910e+05,1.925850e+05,1.000000,8.000000,746.000000,2.000000
75%,17.000000,12.000000,13.000000,5.000000,2.000000,8.000000,6.000000,6.000000,3.000000,2.000000,...,1.769852e+06,9.837745e+05,0.000000e+00,0.000000e+00,1.078077e+06,5.161552e+05,1.000000,15.000000,763.000000,3.000000
max,331.000000,273.000000,273.000000,264.000000,25.000000,91.000000,37.000000,41.000000,22.000000,21.000000,...,2.202823e+09,5.141098e+08,1.752069e+07,4.161194e+08,1.375599e+09,4.161379e+08,11.000000,424.000000,849.000000,10.000000

In [ ]:
train_1['id'].nunique()

99584

In [ ]:
test_1['id'].nunique()

97423

In [ ]:
test_1['prod'].nunique()

5

In [ ]:
train_1['prod'].nunique()

5

In [ ]:
test_1['loan_id'].nunique()

100000

In [ ]:
train_1['loan_id'].nunique()

100000

In [ ]:
train_2_1['id'].nunique()

90263

In [ ]:
train_2_2['id'].nunique()

47966

In [ ]:
test_2_1['id'].nunique()

81250

In [ ]:
test_2_2['id'].nunique()

48050

In [ ]:
train_2 = pd.concat([train_2_1,train_2_2],axis=0)
train_2.shape

(138276, 678)

In [ ]:
test_2 = pd.concat([test_2_1,test_2_2],axis=0)
test_2.shape

(129385, 678)

In [ ]:
train_2['id'].nunique()

92998

In [ ]:
test_2['id'].nunique()

85987

In [ ]:
# # to check number of common ids
# common_data = pd.merge(train_2_1[['id']], train_2_2[['id']], on='id')

# print(f"Number of common IDs: {len(common_data)}")

testing columns of train_1 to drop

In [ ]:
null_train_1 = train_1.columns[train_1.isna().sum()>50000]
null_train_1

Index(['col_123', 'col_124', 'col_140', 'col_154', 'col_157', 'col_161',
       'col_163'],
      dtype='object')

In [ ]:
train_1['col_114'].nunique()

26

In [ ]:
train_1['col_125'].nunique()

330

In [ ]:
(train_1['col_125']=="NR").sum()

45282

In [ ]:
train_1['col_125'].isna().sum()

13040

In [ ]:
train_1['col_116'].nunique()

22898

In [ ]:
(train_1['col_116']=="NR").sum()

22839

In [ ]:
train_1['col_116'].isna().sum()

38666

In [ ]:
(train_1['col_148']=="S").sum()

100000

By above observations we should drop [col_123', 'col_124', 'col_140','col_154', 'col_157', 'col_161', 'col_163] and [col_125, col_116 , col_148] and we should categorize col_114 (convert into categorical data)

In [ ]:
col_to_drop_train_1 = ['col_123', 'col_124', 'col_140','col_154', 'col_157', 'col_161', 'col_163' ,'col_125', 'col_116' , 'col_148']

train_1.drop(columns=col_to_drop_train_1,inplace=True)
test_1.drop(columns=col_to_drop_train_1,inplace=True)

testing columns of train_2/test_2 to drop

In [ ]:
(train_2_1['add_672']=='"[]"').sum()

90300

In [ ]:
(train_2_1['add_673']=='"[]"').sum()

90300

In [ ]:
(train_2_1['add_675']=='"[]"').sum()

58894

In [ ]:
(train_2_1['add_676']=='"[]"').sum()

58894

In [ ]:
(train_2_1['add_677']=='"[]"').sum()

58894

In [ ]:
null_train_2_1 = train_2_1.columns[train_2_1.isna().sum()>45000]
null_train_2_1

Index(['add_215', 'add_216'], dtype='object')

In [ ]:
null_train_2_2 = train_2_2.columns[train_2_2.isna().sum()>23000]
null_train_2_2

Index(['add_215', 'add_216', 'add_674', 'add_675', 'add_676', 'add_677'], dtype='object')

In [ ]:
col_to_drop_train_2 = ['add_215', 'add_216', 'add_672', 'add_671','add_673', 'add_674', 'add_675', 'add_676', 'add_677']
train_2_1.drop(columns=col_to_drop_train_2,inplace=True)
test_2_1.drop(columns=col_to_drop_train_2,inplace=True)
train_2_2.drop(columns=col_to_drop_train_2,inplace=True)
test_2_2.drop(columns=col_to_drop_train_2,inplace=True)

In [ ]:
train_1.shape

(100000, 158)

actually should not drop add_671 should split it but removing for easyness

Defining True numerical and likely categorical columns

In [ ]:
threshold = 30

train_1_numerical_cols = train_1.select_dtypes(include=['float64', 'int64']).columns
train_1_likely_categorical_cols = [col for col in train_1_numerical_cols if train_1[col].nunique() < threshold]
train_1_true_numerical_cols = [col for col in train_1_numerical_cols if col not in train_1_likely_categorical_cols]

In [ ]:
train_2_1_numerical_cols = train_2_1.select_dtypes(include=['float64', 'int64']).columns
train_2_1_likely_categorical_cols = [col for col in train_2_1_numerical_cols if train_2_1[col].nunique() < threshold]
train_2_1_true_numerical_cols = [col for col in train_2_1_numerical_cols if col not in train_2_1_likely_categorical_cols]

In [ ]:
train_2_2_numerical_cols = train_2_2.select_dtypes(include=['float64', 'int64']).columns
train_2_2_likely_categorical_cols = [col for col in train_2_2_numerical_cols if train_2_2[col].nunique() < threshold]
train_2_2_true_numerical_cols = [col for col in train_2_2_numerical_cols if col not in train_2_2_likely_categorical_cols]

Capping the outlier

In [ ]:
def cap_outliers_iqr(df,numerical_cols):

    # Create a copy of the dataframe to apply capping
    df_capped = df.copy()

    for col in numerical_cols:
        # Calculate Q1 (25th percentile) and Q3 (75th percentile)
        Q1 = df_capped[col].quantile(0.25)
        Q3 = df_capped[col].quantile(0.75)
        IQR = Q3 - Q1  # Interquartile range

        # Define lower and upper bounds
        lower_bound = Q1 - 1.5 * IQR
        upper_bound = Q3 + 1.5 * IQR

        if col=='label':
            df_capped[col] = df_capped[col]
        else:

        # Cap the outliers to the boundary values
            df_capped[col] = df_capped[col].clip(lower=lower_bound, upper=upper_bound)

    return df_capped

In [ ]:
train_1_capped = cap_outliers_iqr(train_1,train_1_true_numerical_cols)
train_1_capped.describe()

,label,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9,...,col_147,col_149,col_151,col_152,col_153,col_155,col_159,col_160,col_162,col_164
count,100000.000000,100000.000000,100000.000000,100000.0,100000.0,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,...,100000.000000,100000.0,100000.000000,1.000000e+05,100000.000000,98913.000000,98913.000000,98913.000000,100000.000000,98904.000000
mean,0.041580,0.046900,19.983052,0.0,0.0,17.912320,0.032676,0.027277,0.003416,0.004279,...,22.459652,0.0,12187.531000,7.319883e+05,58.979175,0.865468,0.981539,0.106073,1.716360,38.787814
std,0.199628,0.052072,8.386780,0.0,0.0,29.363307,0.042221,0.036463,0.003080,0.004593,...,10.271773,0.0,20640.437793,9.585088e+05,80.774688,0.341225,0.134611,0.307933,0.783476,9.797241
min,0.000000,0.000000,4.000000,0.0,0.0,0.000000,0.000019,0.000000,0.000000,0.000004,...,0.000000,0.0,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,1.000000,10.000000
25%,0.000000,0.005642,12.850000,0.0,0.0,0.000000,0.001642,0.000756,0.001043,0.000670,...,13.821692,0.0,0.000000,0.000000e+00,0.000000,1.000000,1.000000,0.000000,1.000000,31.000000
50%,0.000000,0.025948,17.490000,0.0,0.0,0.000000,0.010399,0.007426,0.002330,0.002420,...,18.932192,0.0,0.000000,2.596000e+05,0.000000,1.000000,1.000000,0.000000,2.000000,38.000000
75%,0.000000,0.071900,26.000000,0.0,0.0,28.000000,0.047653,0.040014,0.004764,0.006390,...,29.683686,0.0,20000.000000,1.121725e+06,99.000000,1.000000,1.000000,0.000000,2.000000,45.000000
max,1.000000,0.171287,36.000000,0.0,0.0,70.000000,0.116670,0.098900,0.010346,0.014971,...,43.199658,0.0,50000.000000,2.804312e+06,247.500000,1.000000,1.000000,1.000000,9.000000,66.000000

In [ ]:
train_2_2_capped = cap_outliers_iqr(train_2_2,train_2_2_true_numerical_cols)
train_2_2_capped.describe()

,add_1,add_2,add_3,add_4,add_5,add_6,add_7,add_8,add_9,add_10,...,add_661,add_662,add_663,add_664,add_665,add_666,add_667,add_668,add_669,add_670
count,47976.000000,47976.000000,47976.000000,47976.000000,47976.000000,47976.000000,47976.000000,47976.000000,47976.000000,47976.000000,...,47976.000000,4.797600e+04,4.797600e+04,47976.0,47976.0,4.797600e+04,4.797600e+04,47976.000000,47976.000000,47976.000000
mean,11.809061,8.317784,8.718630,3.419585,1.454498,5.568618,4.157287,4.383650,2.081833,1.214107,...,8.442846,1.159587e+06,6.657717e+05,0.0,0.0,6.878661e+05,3.410678e+05,1.068826,10.539405,740.850196
std,9.743535,7.507113,7.792457,3.504499,2.154214,4.158050,3.557419,3.697903,2.301626,1.851488,...,7.710569,1.443190e+06,6.995915e+05,0.0,0.0,9.066771e+05,3.842160e+05,0.616648,8.836615,32.783400
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000e+00,0.000000e+00,0.0,0.0,-1.617116e+06,-6.910091e+05,0.000000,0.000000,660.500000
25%,4.000000,2.000000,3.000000,1.000000,0.000000,2.000000,1.000000,1.000000,0.000000,0.000000,...,2.000000,0.000000e+00,1.094250e+05,0.0,0.0,0.000000e+00,3.328950e+04,1.000000,4.000000,722.000000
50%,9.000000,6.000000,7.000000,2.000000,1.000000,5.000000,3.000000,3.000000,1.000000,0.000000,...,6.000000,5.108905e+05,4.214865e+05,0.0,0.0,2.374910e+05,1.925850e+05,1.000000,8.000000,746.000000
75%,17.000000,12.000000,13.000000,5.000000,2.000000,8.000000,6.000000,6.000000,3.000000,2.000000,...,12.000000,1.769852e+06,9.837745e+05,0.0,0.0,1.078077e+06,5.161552e+05,1.000000,15.000000,763.000000
max,36.500000,27.000000,28.000000,11.000000,25.000000,17.000000,13.500000,13.500000,22.000000,21.000000,...,27.000000,4.424631e+06,2.295299e+06,0.0,0.0,2.695192e+06,1.240454e+06,11.000000,31.500000,824.500000

In [ ]:
train_2_1_capped = cap_outliers_iqr(train_2_1,train_2_1_true_numerical_cols)
train_2_1_capped.describe()

,add_1,add_2,add_3,add_4,add_5,add_6,add_7,add_8,add_9,add_10,...,add_661,add_662,add_663,add_664,add_665,add_666,add_667,add_668,add_669,add_670
count,90300.000000,90300.000000,90300.000000,90300.000000,90300.000000,90300.000000,90300.000000,90300.000000,90300.000000,90300.000000,...,90300.000000,9.030000e+04,9.030000e+04,90300.0,90300.0,9.030000e+04,9.030000e+04,90300.000000,90300.000000,90300.000000
mean,11.852099,7.857486,8.232414,3.242901,1.441462,5.320354,3.850365,4.044496,1.899147,1.189590,...,7.658522,1.468511e+06,6.213085e+05,0.0,0.0,9.096501e+05,3.005909e+05,1.073843,9.931722,743.573195
std,9.683831,6.969855,7.241107,3.468843,2.171507,3.866511,3.478401,3.596977,2.285865,1.855696,...,7.183400,1.713422e+06,6.721572e+05,0.0,0.0,1.129267e+06,3.604429e+05,0.606900,8.554749,34.308592
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000e+00,0.000000e+00,0.0,0.0,-1.720030e+06,-6.551680e+05,0.000000,0.000000,660.500000
25%,4.000000,2.000000,3.000000,1.000000,0.000000,2.000000,1.000000,1.000000,0.000000,0.000000,...,2.000000,6.002150e+04,9.000525e+04,0.0,0.0,0.000000e+00,1.627625e+04,1.000000,3.000000,725.000000
50%,9.000000,6.000000,6.000000,2.000000,1.000000,4.000000,3.000000,3.000000,1.000000,0.000000,...,5.000000,8.198970e+05,3.702680e+05,0.0,0.0,4.368130e+05,1.446610e+05,1.000000,8.000000,747.000000
75%,17.000000,11.000000,12.000000,5.000000,2.000000,7.000000,6.000000,6.000000,3.000000,2.000000,...,11.000000,2.200000e+06,9.212245e+05,0.0,0.0,1.405094e+06,4.639058e+05,1.000000,14.000000,768.000000
max,36.500000,24.500000,25.500000,11.000000,30.000000,14.500000,13.500000,13.500000,116.000000,28.000000,...,24.500000,5.409968e+06,2.168053e+06,0.0,0.0,3.512734e+06,1.135350e+06,18.000000,30.500000,832.500000

In [ ]:
test_1_capped = cap_outliers_iqr(test_1,train_1_true_numerical_cols)
test_1_capped.describe()

,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9,col_10,...,col_147,col_149,col_151,col_152,col_153,col_155,col_159,col_160,col_162,col_164
count,100000.000000,100000.000000,100000.0,100000.0,100000.0,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,...,100000.000000,100000.0,100000.000000,1.000000e+05,100000.000000,99353.000000,99353.000000,99353.000000,100000.000000,99335.000000
mean,0.051775,20.138059,0.0,0.0,0.0,0.038354,0.033463,0.002739,0.004047,0.004036,...,22.648465,0.0,50658.882000,1.079780e+06,66.756190,0.918010,0.984943,0.088603,1.855480,38.513475
std,0.058866,8.609331,0.0,0.0,0.0,0.050521,0.045269,0.002665,0.004668,0.004657,...,10.580288,0.0,81725.222541,1.433934e+06,89.672922,0.274352,0.121782,0.284172,0.863957,9.747270
min,0.000000,3.850000,0.0,0.0,0.0,0.000014,0.000000,0.000000,0.000004,0.000000,...,0.000000,0.0,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,1.000000,10.000000
25%,0.005188,12.750000,0.0,0.0,0.0,0.001450,0.000792,0.000741,0.000464,0.000461,...,13.773969,0.0,0.000000,0.000000e+00,0.000000,1.000000,1.000000,0.000000,1.000000,31.000000
50%,0.027438,17.000000,0.0,0.0,0.0,0.011113,0.008452,0.001670,0.001900,0.001894,...,18.366251,0.0,0.000000,3.516000e+05,0.000000,1.000000,1.000000,0.000000,2.000000,38.000000
75%,0.080085,27.000000,0.0,0.0,0.0,0.055680,0.049079,0.003900,0.006179,0.006158,...,30.615739,0.0,82800.000000,1.683650e+06,120.000000,1.000000,1.000000,0.000000,2.000000,45.000000
max,0.192431,36.000000,0.0,0.0,0.0,0.137025,0.121510,0.008639,0.014752,0.014704,...,43.000876,0.0,207000.000000,4.209125e+06,300.000000,1.000000,1.000000,1.000000,17.000000,66.000000

In [ ]:
test_2_2_capped = cap_outliers_iqr(test_2_2,train_2_2_true_numerical_cols)
test_2_2_capped.describe()

,add_1,add_2,add_3,add_4,add_5,add_6,add_7,add_8,add_9,add_10,...,add_661,add_662,add_663,add_664,add_665,add_666,add_667,add_668,add_669,add_670
count,48085.000000,48085.000000,48085.000000,48085.000000,48085.000000,48085.000000,48085.000000,48085.000000,48085.000000,48085.000000,...,48085.000000,4.808500e+04,4.808500e+04,48085.0,48085.0,4.808500e+04,4.808500e+04,48085.000000,48085.000000,48085.000000
mean,10.862462,6.848061,7.302600,2.629905,1.306187,5.051440,3.289259,3.466570,1.546283,1.083540,...,6.734834,1.803993e+06,5.386650e+05,0.0,0.0,1.116411e+06,2.565025e+05,1.145264,9.026183,743.441967
std,8.785869,6.482646,6.967753,3.125278,2.095631,3.744458,3.160382,3.257952,2.112982,1.796711,...,6.786598,2.034595e+06,6.190593e+05,0.0,0.0,1.308604e+06,3.299215e+05,0.881064,7.978102,34.948759
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000e+00,0.000000e+00,0.0,0.0,-2.543178e+06,-6.090735e+05,0.000000,0.000000,658.000000
25%,4.000000,2.000000,2.000000,0.000000,0.000000,2.000000,1.000000,1.000000,0.000000,0.000000,...,1.000000,1.106000e+05,4.960300e+04,0.0,0.0,0.000000e+00,0.000000e+00,1.000000,3.000000,724.000000
50%,8.000000,5.000000,5.000000,1.000000,0.000000,4.000000,2.000000,3.000000,1.000000,0.000000,...,4.000000,1.053455e+06,2.872820e+05,0.0,0.0,6.298190e+05,9.786700e+04,1.000000,7.000000,746.000000
75%,15.000000,10.000000,11.000000,4.000000,2.000000,7.000000,5.000000,5.000000,2.000000,1.000000,...,10.000000,2.736925e+06,8.100390e+05,0.0,0.0,1.695452e+06,4.060490e+05,1.000000,13.000000,768.000000
max,31.500000,22.000000,24.500000,10.000000,28.000000,14.500000,11.000000,11.000000,28.000000,24.000000,...,23.500000,6.676412e+06,1.950693e+06,0.0,0.0,4.238630e+06,1.015122e+06,24.000000,28.000000,834.000000

In [ ]:
test_2_1_capped = cap_outliers_iqr(test_2_1,train_2_1_true_numerical_cols)
test_2_1_capped.describe()

,add_1,add_2,add_3,add_4,add_5,add_6,add_7,add_8,add_9,add_10,...,add_661,add_662,add_663,add_664,add_665,add_666,add_667,add_668,add_669,add_670
count,81300.000000,81300.000000,81300.000000,81300.000000,81300.000000,81300.000000,81300.000000,81300.000000,81300.000000,81300.000000,...,81300.000000,8.130000e+04,8.130000e+04,81300.0,81300.0,8.130000e+04,8.130000e+04,81300.000000,81300.000000,81300.000000
mean,11.538130,7.593180,8.033715,3.137811,1.381857,5.240289,3.611907,3.878536,1.853838,1.144330,...,7.390277,1.564317e+06,5.889987e+05,0.0,0.0,9.831357e+05,2.893629e+05,1.141538,9.603204,742.486482
std,9.317409,6.939439,7.400835,3.434128,2.178095,3.796378,3.183330,3.541694,2.288523,1.864229,...,7.119105,1.841487e+06,6.479377e+05,0.0,0.0,1.211692e+06,3.509798e+05,0.623038,8.501186,34.535110
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000e+00,0.000000e+00,0.0,0.0,-2.285875e+06,-6.336385e+05,0.000000,0.000000,659.500000
25%,4.000000,2.000000,2.000000,1.000000,0.000000,2.000000,1.000000,1.000000,0.000000,0.000000,...,2.000000,5.519900e+04,7.783325e+04,0.0,0.0,0.000000e+00,1.482200e+04,1.000000,3.000000,724.000000
50%,9.000000,5.000000,6.000000,2.000000,1.000000,4.000000,3.000000,3.000000,1.000000,0.000000,...,5.000000,8.500000e+05,3.385075e+05,0.0,0.0,4.887560e+05,1.324465e+05,1.000000,7.000000,746.000000
75%,16.000000,11.000000,12.000000,5.000000,2.000000,7.000000,5.000000,6.000000,3.000000,2.000000,...,11.000000,2.377270e+06,8.725445e+05,0.0,0.0,1.523916e+06,4.471290e+05,1.000000,14.000000,767.000000
max,34.000000,24.500000,27.000000,11.000000,36.000000,14.500000,11.000000,13.500000,116.000000,28.000000,...,24.500000,5.860377e+06,2.064611e+06,0.0,0.0,3.809791e+06,1.095590e+06,18.000000,30.500000,831.500000

In [ ]:
# #comment if want to take outliers in consideration
# train_1_capped = train_1
# test_1_capped = test_1
# train_2_1_capped = train_2_1
# train_2_2_capped = train_2_2
# test_2_1_capped = test_2_1
# test_2_2_capped = test_2_2

Dealing Mising Values

In [ ]:
train_1_capped[train_1_true_numerical_cols] = train_1_capped[train_1_true_numerical_cols].apply(lambda x: x.fillna(x.mean()))
train_1_categorical_cols = [col for col in train_1_capped.columns if train_1_capped[col].nunique() < threshold]
train_1_capped[train_1_categorical_cols] = train_1_capped[train_1_categorical_cols].apply(lambda x: x.fillna(x.mode()[0]))

In [ ]:
train_1_capped.isna().sum()

loan_id    0
label      0
id         0
prod       0
col_1      0
          ..
col_158    0
col_159    0
col_160    0
col_162    0
col_164    0
Length: 158, dtype: int64

In [ ]:
train_2_1_capped[train_2_1_true_numerical_cols] = train_2_1_capped[train_2_1_true_numerical_cols].apply(lambda x: x.fillna(x.mean()))
train_2_1_categorical_cols = [col for col in train_2_1_capped.columns if train_2_1_capped[col].nunique() < threshold]
train_2_1_capped[train_2_1_categorical_cols] = train_2_1_capped[train_2_1_categorical_cols].apply(lambda x: x.fillna(x.mode()[0]))

In [ ]:
train_2_1_capped.isna().sum()

id         0
add_1      0
add_2      0
add_3      0
add_4      0
          ..
add_666    0
add_667    0
add_668    0
add_669    0
add_670    0
Length: 669, dtype: int64

In [ ]:
train_2_2_capped[train_2_2_true_numerical_cols] = train_2_2_capped[train_2_2_true_numerical_cols].apply(lambda x: x.fillna(x.mean()))
train_2_2_categorical_cols = [col for col in train_2_2_capped.columns if train_2_2_capped[col].nunique() < threshold]
train_2_2_capped[train_2_2_categorical_cols] = train_2_2_capped[train_2_2_categorical_cols].apply(lambda x: x.fillna(x.mode()[0]))

In [ ]:
train_2_2_capped.isna().sum()

id         0
add_1      0
add_2      0
add_3      0
add_4      0
          ..
add_666    0
add_667    0
add_668    0
add_669    0
add_670    0
Length: 669, dtype: int64

In [ ]:
test_1_capped[train_1_true_numerical_cols] = test_1_capped[train_1_true_numerical_cols].apply(lambda x: x.fillna(x.mean()))
test_1_categorical_cols = [col for col in test_1_capped.columns if test_1_capped[col].nunique() < threshold]

test_1_capped[test_1_categorical_cols] = test_1_capped[test_1_categorical_cols].apply(lambda x: x.fillna(x.mode()[0]))

In [ ]:
test_1_capped.isna().sum()

loan_id    0
id         0
prod       0
col_1      0
col_2      0
          ..
col_158    0
col_159    0
col_160    0
col_162    0
col_164    0
Length: 157, dtype: int64

In [ ]:
test_2_1_capped[train_2_1_true_numerical_cols] = test_2_1_capped[train_2_1_true_numerical_cols].apply(lambda x: x.fillna(x.mean()))
test_2_1_categorical_cols = [col for col in test_2_1_capped.columns if test_2_1_capped[col].nunique() < threshold]
test_2_1_capped[test_2_1_categorical_cols] = test_2_1_capped[test_2_1_categorical_cols].apply(lambda x: x.fillna(x.mode()[0]))

In [ ]:
test_2_1_capped.isna().sum()

id         0
add_1      0
add_2      0
add_3      0
add_4      0
          ..
add_666    0
add_667    0
add_668    0
add_669    0
add_670    0
Length: 669, dtype: int64

In [ ]:
test_2_2_capped[train_2_2_true_numerical_cols] = test_2_2_capped[train_2_2_true_numerical_cols].apply(lambda x: x.fillna(x.mean()))
test_2_2_categorical_cols = [col for col in test_2_2_capped.columns if test_2_2_capped[col].nunique() < threshold]
test_2_2_capped[test_2_2_categorical_cols] = test_2_2_capped[test_2_2_categorical_cols].apply(lambda x: x.fillna(x.mode()[0]))

In [ ]:
test_2_2_capped.isna().sum()

id         0
add_1      0
add_2      0
add_3      0
add_4      0
          ..
add_666    0
add_667    0
add_668    0
add_669    0
add_670    0
Length: 669, dtype: int64

In [ ]:
train_1_capped.shape

(100000, 158)

In [ ]:
train_2_1_capped.shape

(90300, 669)

## Merging 1 and 2.1

In [ ]:
train_2_1_capped_unique = train_2_1_capped.drop_duplicates(subset='id')
merged_train = pd.merge(train_1_capped, train_2_1_capped_unique, on='id', how='left')
print(merged_train.shape)

(100000, 826)

In [ ]:
test_2_1_capped_unique = test_2_1_capped.drop_duplicates(subset='id')
merged_test= pd.merge(test_1_capped,test_2_1_capped_unique, on='id',how='left')
merged_test.shape

(100000, 825)

In [ ]:
train_1_capped.shape

(100000, 158)

In [ ]:
train_2_1_capped.shape

(90300, 669)

In [ ]:
merged_train.head(5)

,loan_id,label,id,prod,col_1,col_2,col_3,col_4,col_5,col_6,...,add_661,add_662,add_663,add_664,add_665,add_666,add_667,add_668,add_669,add_670
0,3L3N473W3R3X3Z2d2d2d2f2i2f2d24,0,2f2g2e2c2f2f2e,prod3,0.005733,29.00,0.0,0.0,0,0.001534,...,1.0,0.0,40000.0,0.0,0.0,0.0,40000.0,0.0,1.0,728.0
1,3L3N473U3N3X3Z2d2d2d2f2f44422h,0,2e2c2d2h2g2h2c,prod3,0.000996,29.95,0.0,0.0,0,0.000123,...,10.0,0.0,380478.0,0.0,0.0,0.0,230366.0,0.0,10.0,753.0
2,3L3N473W3R3X3Z2d2d2d2f2g2c2c2f,0,2f2j2c24252e2j,prod3,0.002393,33.00,0.0,0.0,0,0.000426,...,3.0,0.0,45787.0,0.0,0.0,0.0,23757.0,1.0,2.0,738.0
3,3L3N473W3R3X3Z2d2d2d2f2d2i2443,0,2f252h2g2e2e24,prod3,0.005626,26.00,0.0,0.0,0,0.001466,...,3.0,199240.0,11900.0,0.0,0.0,43000.0,1134.0,0.0,14.0,769.0
4,3L3N473L433X3Z2d2d2d2d2e472d40,0,2f2h242d2e2h2d,prod3,0.004214,16.99,0.0,0.0,0,0.000766,...,3.0,0.0,234470.0,0.0,0.0,0.0,88626.0,1.0,3.0,739.0

In [ ]:
train_1_numerical_cols = merged_train.select_dtypes(include=['float64', 'int64']).columns
train_1_likely_categorical_cols = [col for col in train_1_numerical_cols if merged_train[col].nunique() < threshold]
train_1_true_numerical_cols = [col for col in train_1_numerical_cols if col not in train_1_likely_categorical_cols]

In [ ]:
len(train_1_true_numerical_cols)

213

In [ ]:
merged_train_cat_col = [col for col in merged_train.columns if merged_train[col].nunique() < threshold]
len(merged_train_cat_col)

611

In [ ]:
len(merged_train_cat_col)

611

In [ ]:
merged_test_cat_col = merged_train_cat_col

In [ ]:
merged_test_cat_col.remove('label')

In [ ]:
len(merged_test_cat_col)

610

In [ ]:
merged_train[train_1_true_numerical_cols] = merged_train[train_1_true_numerical_cols].apply(lambda x: x.fillna(x.mean()))
merged_train[merged_train_cat_col] = merged_train[merged_train_cat_col].apply(lambda x: x.fillna(x.mode()[0]))

In [ ]:
merged_test[train_1_true_numerical_cols] = merged_test[train_1_true_numerical_cols].apply(lambda x: x.fillna(x.mean()))
merged_test[merged_test_cat_col] = merged_test[merged_test_cat_col].apply(lambda x: x.fillna(x.mode()[0]))

In [ ]:
merged_test.shape

(100000, 825)

In [ ]:
merged_train.isna().sum()

loan_id    0
label      0
id         0
prod       0
col_1      0
          ..
add_666    0
add_667    0
add_668    0
add_669    0
add_670    0
Length: 826, dtype: int64

In [ ]:
merged_test.isna().sum()

loan_id    0
id         0
prod       0
col_1      0
col_2      0
          ..
add_666    0
add_667    0
add_668    0
add_669    0
add_670    0
Length: 825, dtype: int64

In [ ]:
merged_test.shape

(100000, 825)

Label Encoding

In [ ]:
from sklearn.preprocessing import LabelEncoder

# Instantiate LabelEncoder
label_encoder = LabelEncoder()

# Apply label encoding to each categorical feature
for col in merged_train_cat_col:
    merged_train[col] = label_encoder.fit_transform(merged_train[col])

In [ ]:
for col in merged_test_cat_col:
    merged_test[col] = label_encoder.fit_transform(merged_test[col])

In [ ]:
merged_test.shape

(100000, 825)

In [ ]:
x = merged_train.drop(columns=['loan_id','id','label'])
y = merged_train['label']

In [ ]:
x_test = merged_test.drop(columns=['loan_id','id'])

In [ ]:
x_test.shape

(100000, 823)

In [ ]:
# from sklearn.decomposition import PCA
# n_components = 500  # Choose the number of components, can be tuned based on explained variance
# pca = PCA(n_components=0.9999999999)
# X_train_pca = pca.fit_transform(x)
# X_test_pca = pca.transform(x_test)

In [ ]:
# from sklearn.model_selection import train_test_split
# X_train,X_val, y_train, y_val = train_test_split(X_train_pca,y,test_size=0.2,random_state=42)

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_val, y_train, y_val = train_test_split(x,y,test_size=0.2,random_state=42)

In [ ]:
# !pip install imbalanced-learn

In [ ]:
# from imblearn.over_sampling import SMOTE

In [ ]:
# # Initialize SMOTE
# smote = SMOTE(sampling_strategy=0.5, random_state=42)  # Creates samples to make the minority class 50% of the majority class


# # Fit and resample the training data
# X_train_resampled, y_train_resampled = smote.fit_resample(X_train, y_train)

# # Check the shape of the new training set
# print(f"Original training set size: {X_train.shape[0]} vs Resampled training set size: {X_train_resampled.shape[0]}")

In [ ]:
# from sklearn.metrics import precision_score, recall_score, roc_auc_score, roc_curve, confusion_matrix

In [ ]:
!pip install catboost
!pip install xgboost
!pip install lightgbm

Requirement already satisfied: catboost in /usr/local/lib/python3.10/dist-packages (1.2.7)
Requirement already satisfied: graphviz in /usr/local/lib/python3.10/dist-packages (from catboost) (0.20.3)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (from catboost) (3.7.1)
Requirement already satisfied: numpy<2.0,>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from catboost) (1.26.4)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.10/dist-packages (from catboost) (2.2.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (from catboost) (1.13.1)
Requirement already satisfied: plotly in /usr/local/lib/python3.10/dist-packages (from catboost) (5.24.1)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from catboost) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24->catboost) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24->catboost) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24->catboost) (2024.2)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (1.3.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (4.54.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (1.4.7)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (24.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (3.2.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from plotly->catboost) (9.0.0)
Requirement already satisfied: xgboost in /usr/local/lib/python3.10/dist-packages (2.1.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from xgboost) (1.26.4)
Requirement already satisfied: nvidia-nccl-cu12 in /usr/local/lib/python3.10/dist-packages (from xgboost) (2.23.4)
Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (from xgboost) (1.13.1)
Requirement already satisfied: lightgbm in /usr/local/lib/python3.10/dist-packages (4.5.0)
Requirement already satisfied: numpy>=1.17.0 in /usr/local/lib/python3.10/dist-packages (from lightgbm) (1.26.4)
Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (from lightgbm) (1.13.1)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier
from catboost import CatBoostClassifier
from sklearn.ensemble import StackingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score

/usr/local/lib/python3.10/dist-packages/dask/dataframe/__init__.py:42: FutureWarning:
Dask dataframe query planning is disabled because dask-expr is not installed.

You can install it with `pip install dask[dataframe]` or `conda install dask`.
This will raise in a future version.

  warnings.warn(msg, FutureWarning)

In [ ]:
# Initialize base models
rf= RandomForestClassifier(n_estimators=50, max_depth=10, random_state=42)
xgb= XGBClassifier(n_estimators=50, max_depth=5, random_state=42, use_label_encoder=False, eval_metric='logloss')
lgb= LGBMClassifier(n_estimators=50, max_depth=5, random_state=42)
catboost= CatBoostClassifier(n_estimators=50, depth=5, verbose=0, random_state=42)

In [ ]:
# Meta model
meta_model = LogisticRegression()

In [ ]:
# Create the stacking model
stacked_model = StackingClassifier(
    estimators=[
        ('rf', rf),
        ('xgb', xgb),
        ('lgb', lgb),
        ('catboost', catboost)
    ],
    final_estimator=meta_model,  # Meta-model
    cv=5  # Use cross-validation to get meta-features
)

In [ ]:
# Train the stacked model
stacked_model.fit(X_train, y_train)

# Make predictions
y_pred = stacked_model.predict_proba(X_val)[:, 1]  # Get probability of the positive class

# Evaluate using ROC-AUC
roc_auc = roc_auc_score(y_val, y_pred)
print(f"Stacked Model ROC-AUC: {roc_auc}")

In [ ]:
# from catboost import CatBoostClassifier
# from sklearn.metrics import precision_score, recall_score, roc_auc_score

# #Initialize the CatBoost model
# catboost_model = CatBoostClassifier(
#  class_weights = {0: 4, 1: 96} )

# # catboost_model = CatBoostClassifier(class_weights=[1, 33])
# catboost_model.fit(X_train_resampled, y_train_resampled)

# # Predict probabilities on the test set (for class 1)
# y_probs_catboost = catboost_model.predict_proba(X_val)[:, 1]

# # Step 1: Evaluate ROC-AUC (works with probabilities)
# catboost_auc = roc_auc_score(y_val, y_probs_catboost)

# # Step 2: Convert probabilities to binary predictions (using 0.5 threshold)
# threshold = 0.5
# y_pred_catboost = (y_probs_catboost >= threshold).astype(int)

# # Step 3: Evaluate Precision and Recall (binary predictions)
# catboost_precision = precision_score(y_val, y_pred_catboost)
# catboost_recall = recall_score(y_val, y_pred_catboost)

In [ ]:
# # Print the results
# print(f"CatBoost AUC-ROC: {catboost_auc}")
# print(f"CatBoost Precision: {catboost_precision}")
# print(f"CatBoost Recall: {catboost_recall}")

# # Display the first 5 predicted probabilities
# print(f"First 5 Predicted Probabilities (CatBoost): {y_probs_catboost[:5]}")

In [ ]:
# # Get permutation-based feature importance
# permutation_importance = catboost_model.get_feature_importance(type='PredictionValuesChange')
# feature_names = X_train.columns

# # Create a list of tuples (feature_name, importance) and filter based on importance > 0.1
# important_features = [(name, importance) for name, importance in zip(feature_names, permutation_importance) if importance > 0.1]

# # Sort the important features by importance in descending order
# important_features_sorted = sorted(important_features, key=lambda x: x[1], reverse=True)

# # Display the sorted important features
# print("Sorted Important Features (Importance > 0.1):")
# for feature, importance in important_features_sorted:
#     print(f'{feature}: {importance}')

# # Optionally, store the feature names only in a separate list
# sorted_important_feature_names = [feature for feature, _ in important_features_sorted]
# print(len(sorted_important_feature_names))

In [ ]:
# col_144: 5.3797653072123675
# col_143: 2.4251534899276
# col_26: 1.9756379681477196
# col_147: 1.506332545157885
# col_12: 1.1652779225045862
# col_164: 1.1066911675605007
# col_25: 1.0633009372197362
# col_122: 1.0475998889285014
# add_207: 1.0212423426816661

In [ ]:
# from scipy.stats import pointbiserialr

# # List of features for which you want to compute Point-Biserial correlation
# features = ['col_144', 'col_143', 'col_147','col_26','col_12','col_164','col_25','col_122','add_207']  # Replace with actual feature names

# # Dictionary to store the correlation and p-values for each feature
# correlations = {}

# # Loop through each feature and calculate the Point-Biserial correlation
# for feature in features:
#     corr, p_value = pointbiserialr(X_train[feature], y_train)

#     # Store the correlation and p-value in the dictionary
#     correlations[feature] = {'correlation': corr, 'p_value': p_value}

# # Display the results
# for feature, values in correlations.items():
#     print(f"Point-Biserial correlation for {feature}: {values['correlation']}, p-value: {values['p_value']}")

In [ ]:
# # 4.3: ROC Curve
# fpr, tpr, thresholds = roc_curve(y_val, y_probs_catboost)

# # Plotting the ROC curve (optional)
# import matplotlib.pyplot as plt
# plt.figure()
# plt.plot(fpr, tpr, label=f'AUC = {catboost_auc:.4f}')
# plt.plot([0, 1], [0, 1], 'k--', label='Random Guess')
# plt.xlabel('False Positive Rate')
# plt.ylabel('True Positive Rate')
# plt.title('ROC Curve')
# plt.legend()
# plt.show()

In [ ]:
# cb_probs = catboost_model.predict_proba(x_test)[:, 1]

In [ ]:
# output_cb = pd.concat([test_1['loan_id'],pd.Series(cb_probs, name = 'prob')],axis=1)

In [ ]:
#  output_cb.to_csv('output_cb.csv', index=False)